<div id="container-exp">
	<div id="trial">
		<h1>Draw your best <span class="warm">alien</span> in the box!</h1>
		<p>Click the green button when you are finished</p>
		<div id="editor"></div>
		<button type="button" id="Undo" value="next" class="btn btn-warning btn-lg" onclick="e">
        	Undo last
        </button>
		<button type="button" id="StartOver" value="next" class="btn btn-danger btn-lg">
        	Start over
        </button>

		<button type="button" id="Next" value="next" class="btn btn-success btn-lg">
        	I'm Done!
        </button>
	</div>
</div>




